.btn {
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 14px;
    font-weight: 600;
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: filter .3s ease;

    a {
        text-decoration: none;
        color: white
    }
}

.btn:hover {
    background-color: var(--primary);
    filter: brightness(var(--hover-brightness));
}