header {
    width: 100%;
    padding: 28px 8%;
}

#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        font-size: 24px;
        list-style: none;
        gap: 48px;
        display: flex;

        li a {
            text-decoration: none;
            color: black;
            font-weight: 600;
        }

        li a.active {
            border-bottom: 3px solid var(--primary);
        }
    }

    
}

#mobile-btn,
#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #mobile-btn {
        display: block;
    }

    #menu ul,
    #menu .btn-default {
        display: none;
    }

    #mobile-btn {
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
    }

    #mobile-menu li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        gap: 48px;
    }
}
