#hero {
    background-color: var(--secondary);
    color: var(--text-color);

    height: 70vh;
    display: flex;
    justify-content: center;
}

#hero div {
    padding: 20px;
    margin: clamp(20px, 5%, 120px) auto 0;
}

#hero > div > button {
    margin-top: 1rem;
}