#hero {
    background-color: var(--secondary);
    color: var(--text-color);

    display: flex;
    justify-content: center;
}

#hero div {
    padding: 20px;
    margin: clamp(20px, 5%, 120px) auto;
}


#hero div img {
    margin-bottom: 10px;
}

#hero div p {
    margin-bottom: 30px;
}

