.nav-link-animated {
    position: relative;
    padding-bottom: 5px; /* Add space for the border */
    text-decoration: none;
}

.nav-link-animated::after {
    content: '';
    position: absolute;
    width: 0; /* Initial state: zero width */
    height: 3px;
    bottom: 0; /* Position right below the text */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    border-radius: 9999px; 
    transition: width 0.3s ease-in-out; /* Animation speed */
}

.nav-link-animated:hover::after {
    width: 100%; /* Final state: full width on hover */
}