* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --hover-brightness: 115%;
    --primary: #F86A09;
    --secondary: #152A3F;
    --text-color: #e0e6de;
}

.btn-default {
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 14px;
    font-weight: 600;
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: filter .3s ease;
}

.btn-default:hover {
    background-color: var(--primary);
    filter: brightness(var(--hover-brightness));
}
